.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

gradlew
MaterialMotion.iml
gradlew.bat
.idea
local.properties
gradle.properties
gradle
build
resources/proguard-rules.pro
resources/resources.iml
resources/build
simple/proguard-rules.pro
simple/simple.iml
simple/build
parallax/parallax.iml
parallaxrecyclerview/build